@tailwind base;
@tailwind components;
@tailwind utilities;

.img-rend-pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.text-tiny {
    font-size: .6rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}